/*5 squares within rectangle plus buttons*/
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: fit-content;
    padding:0;
}
.color-box-container {
    display: flex;
    border: 2px solid black;
    flex-direction: row;
    margin: 0.5rem;
    padding: 0;
}
.inner-box {
    width: 60px;
    height: 60px;
    border: 1px solid black;
    margin: 0;
    padding: 0;
}
/*big color square plus rgb sliders*/
.main-transparent-container {
    background-color: rgba(55, 56, 57,0.825);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 40px;
    text-align: center;
    padding: 1rem;
}
.container-boxes {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: fit-content;
    padding: 0rem;
    margin: 0;
}
.container-color {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: fit-content;
    padding: 0rem;
    margin: 0;
}
.color-box-selector {
    width: 114px;
    height: 114px;
    background-color: black;
    margin: 0.5rem;
    padding: 0;
}
label {
    margin: 0.5rem;
}
input {
    margin: 0rem;
}
