/*core layout*/
body {
    background-color: rgb(55, 56, 57);
    /*color: rgb(122, 146, 199);*/
    color: aliceblue;
    margin: auto;
    display: flex;
    flex-direction: column;
    height: 100dvh;
}
footer, header {
    background-color: rgb(31, 32, 33);
    display: flex;
    width: 100%;
    justify-content: space-between;
}
main {
    display: flex;
    flex: 1;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-image: url(color-splatter.jpg);
    background-size: cover;
    background-position: center;
}
.main-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
}

/*header content*/
header img {
    height: 3rem;
    width: auto;
}
header nav {
    flex:1;
    display: flex;
    justify-content:end;
}
header ul {
    display: flex;
    list-style: none;
    flex-wrap:wrap;
    margin: 0;
    align-items: center;
    padding: 0;
}
header li {
    padding-left: 1rem;
    padding-right: 1rem;
}
header h1 {
    font-family: 'Lucida Handwriting', 'Brush Script MT', cursive;
    margin: 0;
    padding: 1rem;
    font-size: 40px;
}
/*footer content*/
footer span {
    padding: 1rem;
}

/*general*/
input {
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
}
main span {
    display: flex;
    align-items: center;
    justify-content: center;
}
button {
    margin: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.btn-primary {
    background-color: rgb(101, 126, 179);
    border-color: rgb(101, 126, 179);   
}
.btn-primary:hover {
    background-color: rgb(87, 107, 149);
    border-color: rgb(87, 107, 149);
}
.btn-primary:active {
    background-color: rgb(80, 99, 135) !important;
    border-color: rgb(80, 99, 135) !important;
}
a {
    color:  rgb(122, 146, 199);
}
a:hover {
    color:rgb(106, 126, 171);
}
/*main content FOLLOWING*/
.main-transparent-container {
    background-color: rgba(55, 56, 57,0.825);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 40px;
    text-align: center;
    padding: 1rem;
    margin: 1rem;
}
#faculty-glyphic-regular {
    font-family: "Faculty Glyphic", sans-serif;
    font-weight: 600;
    font-style: normal;
    letter-spacing: 0.25rem;

    color: aliceblue;
    margin: 0;
    font-size:20px;
    padding-top: 0.5rem;
}
span {
    margin-bottom: 0.5rem;
}
form {
    margin-top: 0.5rem;
}