/*core layout*/
body {
    background-color: rgb(55, 56, 57);
    /*color: rgb(122, 146, 199);*/
    color: aliceblue;
    margin: auto;
    display: flex;
    flex-direction: column;
    height: 100dvh;
}
footer, header {
    background-color: rgb(31, 32, 33);
    display: flex;
    width: 100%;
    justify-content: space-between;
}
main {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

/*header content*/
header nav {
    flex:1;
    display: flex;
    justify-content:end;
}
header ul {
    display: flex;
    list-style: none;
    flex-wrap:wrap;
    margin: 0;
    align-items: center;
    padding: 0;
}
header li {
    padding-left: 1rem;
    padding-right: 1rem;
}
header h1 {
    font-family: 'Lucida Handwriting', 'Brush Script MT', cursive;
    margin: 0;
    padding: 1rem;
    font-size: 40px;
}
/*footer content*/
footer span {
    padding: 1rem;
}

/*general*/
input {
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
}

button {
    margin: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.btn-primary {
    background-color: rgb(101, 126, 179);
    border-color: rgb(101, 126, 179);   
}
.btn-primary:hover {
    background-color: rgb(87, 107, 149);
    border-color: rgb(87, 107, 149);
}
.btn-primary:active {
    background-color: rgb(80, 99, 135) !important;
    border-color: rgb(80, 99, 135) !important;
}
a {
    color:  rgb(122, 146, 199);
}
a:hover {
    color:rgb(106, 126, 171);
}
.color-box-container {
    display: flex;
    border: 2px solid black;
    flex-direction: row;
    margin: 0;
}
.inner-box {
    width: 60px;
    height: 60px;
    border: 1px solid black;
    margin: 0;
}
/*main content GENERATOR*/
.main-generator {
    flex-direction: row;
    overflow: hidden;
}
@media (max-width: 400px) {
    img {
        display: none;
    }
}
img {
    opacity: 50%;
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}