/*main content INDEX*/
.main-transparent-container {
    background-color: rgba(55, 56, 57,0.825);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 40px;
    text-align: center;
    padding: 1rem;
}
main span {
    display: flex;
    align-items: center;
    justify-content: center;
}
#faculty-glyphic-regular {
    font-family: "Faculty Glyphic", sans-serif;
    font-weight: 600;
    font-style: normal;
    letter-spacing: 0.25rem;

    color: aliceblue;
    margin: 0;
    font-size:35px;
    padding-top: 0.5rem;
}
main h2 {
    color: rgb(122, 146, 199);
    font-family: 'Lucida Handwriting', 'Brush Script MT', cursive;
    padding-top:2rem;
    padding-bottom:2rem;
    padding-right: 0.5rem;
    margin: 0;
    font-size:60px;
}
.gradient-body {
	background: linear-gradient(
		45deg,
		#80ffff,
		#ff80ff,
		#7b7bff,
		#80ffff,
		#ff80ff
	);
	background-size: 500% 100%;
	animation: gradient 30s ease infinite;
	height: 100vh;
}

@keyframes gradient {
	0% {
		background-position: 0% 0%;
	}
	25% {
		background-position: 25% 0%;
	}
	50% {
		background-position: 50% 0%;
	}
	75% {
		background-position: 75% 0%;
	}
	100% {
		background-position: 100% 0%;
	}
}