/*core layout*/
body {
    background-color: rgb(55, 56, 57);
    color: aliceblue;
    margin: auto;
    display: flex;
    flex-direction: column;
    height: 100dvh;
    
}
footer, header {
    background-color: rgb(31, 32, 33);
    display: flex;
    width: 100%;
    justify-content: space-between;
}
main {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    object-fit: cover;
    background-image: url(color-splatter.jpg);
    background-size: cover;
    background-position: center;
}
/*header content*/
header img {
    height: 3rem;
    width: auto;
}
header nav {
    flex:1;
    display: flex;
    justify-content:end;
}
header ul {
    display: flex;
    list-style: none;
    flex-wrap:wrap;
    margin: 0;
    align-items: center;
    padding: 0;
}
header li {
    padding-left: 1rem;
    padding-right: 1rem;
}
header h1 {
    font-family: 'Lucida Handwriting', 'Brush Script MT', cursive;
    margin: 0;
    padding: 1rem;
    font-size: 40px;
}
/*footer content*/
footer span {
    padding: 1rem;
}

/*general*/
input {
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
}
button {
    margin: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.btn-primary {
    background-color: rgb(101, 126, 179);
    border-color: rgb(101, 126, 179);   
}
.btn-primary:hover {
    background-color: rgb(87, 107, 149);
    border-color: rgb(87, 107, 149);
}
.btn-primary:active {
    background-color: rgb(80, 99, 135) !important;
    border-color: rgb(80, 99, 135) !important;
}
a {
    color:  rgb(122, 146, 199);
}
a:hover {
    color:rgb(106, 126, 171);
}
.color-box-container {
    display: flex;
    border: 2px solid black;
    flex-direction: row;
    margin: 0;
}
.inner-box {
    width: 60px;
    height: 60px;
    border: 1px solid black;
    margin: 0;
}

/*main content INDEX*/
.main-transparent-container {
    background-color: rgba(55, 56, 57,0.825);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 40px;
    text-align: center;
    padding: 1rem;
}
main span {
    display: flex;
    align-items: center;
    justify-content: center;
}
#faculty-glyphic-regular {
    font-family: "Faculty Glyphic", sans-serif;
    font-weight: 600;
    font-style: normal;
    letter-spacing: 0.25rem;

    color: aliceblue;
    margin: 0;
    font-size:35px;
    padding-top: 0.5rem;
}
main h2 {
    color: rgb(122, 146, 199);
    font-family: 'Lucida Handwriting', 'Brush Script MT', cursive;
    padding-top:2rem;
    padding-bottom:2rem;
    padding-right: 0.5rem;
    margin: 0;
    font-size:60px;
}
.gradient-body {
	background: linear-gradient(
		45deg,
		#80ffff,
		#ff80ff,
		#7b7bff,
		#80ffff,
		#ff80ff
	);
	background-size: 500% 100%;
	animation: gradient 30s ease infinite;
	height: 100vh;
}

@keyframes gradient {
	0% {
		background-position: 0% 0%;
	}
	25% {
		background-position: 25% 0%;
	}
	50% {
		background-position: 50% 0%;
	}
	75% {
		background-position: 75% 0%;
	}
	100% {
		background-position: 100% 0%;
	}
}