/*main content PALLETES*/
.main-transparent-container {
    background-color: rgba(55, 56, 57,0.825);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 40px;
    text-align: center;
}
.main-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
}
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: fit-content;
    padding: 1rem;
    margin: 0.5rem;
}
.color-box-container {
    display: flex;
    border: 2px solid black;
    flex-direction: row;
    margin: 0.5rem;
    padding: 0;
}
.inner-box {
    width: 60px;
    height: 60px;
    border: 1px solid black;
    margin: 0;
    padding: 0;
}