/*h1, h2 {
    font-family:'Lucida Handwriting';
}

body {
    font-family: Verdana;
    background-color: rgb(38, 38, 40);
    color:aliceblue
}

button {
    background-color: rgb(88, 88, 88);
    color: rgb(223, 226, 228);
}
a {
    color: rgb(223, 226, 228);
}*/
