/*base*/
body {
    background-color: rgb(55, 56, 57);
    /*color: rgb(196, 219, 239);*/
    color: aliceblue;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-width: 200px;
    min-height: 100dvh;
    flex: 1
}
main {
    flex:1
}
/*footer header text based info*/
footer,header {
    display: flex;
    min-width: 100dvw;
    background-color: rgb(31, 32, 33);
}
header ul {
    flex:1;
    display: flex;
    list-style: none;
    flex-wrap:wrap;
    justify-content:end;
    margin: 0;
    align-items: center;
    padding:0;
    padding-right: 1rem;
}
header li {
    padding: 0.5rem;
}
header h1 {
    font-family: 'Lucida Handwriting', 'Brush Script MT', cursive;
    margin: auto;
    padding: 1rem;
    font-size: 40px;
    flex:1;
    display: flex;
    justify-content: start;
}
footer span {
    padding: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    justify-content: start;
    margin: auto;
    flex:1;
    display: flex;
}
div {
    width:fit-content;
    margin:auto;
    padding: 0.25rem;
}

/*links and buttons*/
.my-button {
    background-color: rgb(101, 126, 179);
    border-color: rgb(101, 126, 179);   
}
button {
    margin: 0.5rem;
}
.my-button:hover {
    background-color: rgb(88, 109, 154);
    border-color: rgb(88, 109, 154);
}
a {
    /*color:rgb(158, 177, 219);*/
    color:  rgb(122, 146, 199);
}
a:hover {
    color:rgb(106, 126, 171);
}

/*for index html*/
h2 {
    font-family: 'Lucida Handwriting', 'Brush Script MT', cursive;
    margin: auto;
    width: fit-content;
    white-space: nowrap;
    padding:2rem;
    font-size:60px;
}
h3 {
    margin: auto;
    width: fit-content;
    white-space: nowrap;
    padding:1rem;
    padding-bottom: 0;
    font-size:35px;
}
#faculty-glyphic-regular {
  font-family: "Faculty Glyphic", sans-serif;
  font-weight: 600;
  font-style: normal;
  letter-spacing: 0.25rem;
}

/*generator.html*/
