
body {
    background-color: rgb(43, 44, 45);
    color: aliceblue;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-width: 200px;
    min-height: 100dvh;
    flex: 1
}
footer,header {
    display: flex;
    min-width: 100dvw;
    background-color: rgb(31, 32, 33);
}
main {
    flex:1
}
ul {
    flex:1;
    display: flex;
    list-style: none;
    flex-wrap:wrap;
    justify-content:end;
    margin: 0;
    align-items: center;
    padding:0;
    padding-right: 1rem;
}
li {
    padding: 0.5rem;
}
form {
    justify-content: center;
    align-items: center;
}
div {
    width:fit-content;
    margin:auto;
    padding: 0.25rem;
}
h1 {
    font-family: 'Lucida Handwriting', 'Brush Script MT', cursive;
    margin: auto;
    padding: 1rem;
    font-size: 40px;
    flex:1;
    display: flex;
    justify-content: start;
}
h2 {
    font-family: 'Lucida Handwriting', 'Brush Script MT', cursive;
    margin: auto;
    width: fit-content;
    white-space: nowrap;
    padding:2rem;
    font-size:60px;
}
h3 {
    margin: auto;
    width: fit-content;
    white-space: nowrap;
    padding:1rem;
    padding-bottom: 0;
    font-size:35px;
}
span {
    padding: 0.5rem;
    justify-content: start;
    margin: auto;
    flex:1;
    display: flex;
}