/*main content INDEX*/
.login-main-transparent-container {
    background-color: rgba(55, 56, 57,0.825);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 2.5rem;
    text-align: center;
    padding: 2rem;
}
main span {
    display: flex;
    align-items: center;
    justify-content: center;
}
#login-faculty-glyphic-regular {
    font-family: "Faculty Glyphic", sans-serif;
    font-weight: 600;
    font-style: normal;
    letter-spacing: 0.25rem;

    color: aliceblue;
    margin: 0;
    font-size:2.25rem;
}
main h2 {
    color: rgb(122, 146, 199);
    font-family: 'Lucida Handwriting', 'Brush Script MT', cursive;
    padding-top:2rem;
    padding-bottom:2rem;
    padding-right: 0.5rem;
    margin: 0;
    font-size:3.75rem;
}
input {
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
}
.login-modal {
    background-color: rgba(55, 56, 57,0.9);
    position: fixed;
    top: center;
    left: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 2.5rem;
    padding: 2rem;
}
.login-thing {
    margin-bottom: 1rem;
}