/*main content GENERATOR*/
.generator-main-generator {
    flex-direction: row;
}
.generator-main-transparent-container {
    background-color: rgba(55, 56, 57,0.825);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 2.5rem;
    text-align: center;
}
.generator-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: fit-content;
    padding: 1rem;
}
.generator-color-box-container {
    display: flex;
    border: 0.125rem solid black;
    flex-direction: row;
    margin: 0.5rem;
    padding: 0;
}
.generator-inner-box {
    width: 3.75rem;
    height: 3.75rem;
    border: 0.0625rem solid black;
    margin: 0;
    padding: 0;
}