/*main content FOLLOWING*/
.following-main-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
}
.following-main-transparent-container {
    background-color: rgba(55, 56, 57,0.825);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 2.5rem;
    text-align: center;
    padding: 1rem;
    margin: 1rem;
}
#following-faculty-glyphic-regular {
    font-family: "Faculty Glyphic", sans-serif;
    font-weight: 600;
    font-style: normal;
    letter-spacing: 0.25rem;

    color: aliceblue;
    margin: 0;
    font-size: 1.25rem;
}
.thing {
    padding-bottom: 1.5rem;
}
.form-thing {
    padding-top: 1rem;
}