/*main content FOLLOWING*/
main span {
    display: flex;
    align-items: center;
    justify-content: center;
}
.main-transparent-container {
    background-color: rgba(55, 56, 57,0.825);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 2.5rem;
    text-align: center;
    padding: 1rem;
    margin: 1rem;
}
#faculty-glyphic-regular {
    font-family: "Faculty Glyphic", sans-serif;
    font-weight: 600;
    font-style: normal;
    letter-spacing: 0.25rem;

    color: aliceblue;
    margin: 0;
    font-size: 1.25rem;
    padding-top: 0.5rem;
}
span {
    margin-bottom: 0.5rem;
}
form {
    margin-top: 0.5rem;
}